<!DOCTYPE html>
<html>
      <% if @payment!=0 && !@payment.nan? %>
    <h1>Square Results</h1>
    APR<br>
    <%= format("%.4f%%", @APR_value) %>
    <br>
    <br>
    Number of years<br>
    <%= @years_value %>
    <br>
    <br>
    Principal<br>
    <%= @principal_value.to_fs(:currency) %>
    <br>
    <br>
    Payment<br>
    <%= @payment.to_fs(:currency) %>
    <br>
    <br>
        <a href="/payment/new">Calculate another payment</a>
      <% else %>
      <form action="/payment/results" method="get">
    <label for="APR_value">APR</label>
       <input type="text" name="APR_value" id="APR_value" placeholder="E.g. 5.42">
       <br>
    <label for="years_value">Number of years</label>
       <input type="text" name="years_value" id="years_value" placeholder="How many years to repay?">
       <br>
    <label for="principal_value">Principal</label>
       <input type="text" name="principal_value" id="principal_value" placeholder="How much principal?">
       <br>
      <button>Calculate monthly payment</button>
    </form>
     <% end %>
  </html>
