<!DOCTYPE html>
<html>
      <% if @random_value!=0 %>
    <h1>Random Results</h1>
    Minimum<br>
    <%= @user_min %>
    <br>
    <br>
    Maximum<br>
    <%= @user_max %>
    <br>
    <br>
    Random Number<br>
    <%= @random_value %>
    <br>
    <br>
        <a href="/random/new">Pick another random number</a>
      <% else %>
      <form action="/random/results" method="get">
    <label for="user_min">Minimum</label>
       <input type="text" name="user_min" id="user_min" placeholder="E.g. 1.5">
       <br>
    <label for="user_max">Maximum</label>
       <input type="text" name="user_max" id="user_max" placeholder="E.g. 4.5">
       <br>
      <button>Pick random number</button>
    </form>
     <% end %>
  </html>
